global
    log stdout format raw local0 info
    stats socket /var/run/haproxy.sock mode 660 level admin expose-fd listeners
    stats timeout 30s
    maxconn 200000
    tune.bufsize 4096
    tune.rcvbuf.client 4096
    tune.sndbuf.client 4096

defaults
    mode tcp
    log global
    option tcplog
    option dontlognull
    retries 3
    option redispatch
    timeout client 1h
    timeout server 1h
    timeout tunnel 1h
    timeout connect 5s
    timeout check 5s
    timeout queue 30s
    option clitcpka
    option srvtcpka

resolvers docker
    nameserver dns 127.0.0.11:53
    resolve_retries 3
    timeout resolve 1s
    timeout retry 1s
    hold valid 10s

frontend stratum
    bind *:3333
    mode tcp

    stick-table type ip size 200k expire 10m store conn_cur,conn_rate(60s)
    tcp-request connection track-sc0 src

    tcp-request connection reject if { sc0_conn_cur ge 256 }
    tcp-request connection reject if { sc0_conn_rate ge 300 }

    default_backend pool

backend pool
    mode tcp
    balance source
    hash-type consistent

    option httpchk GET /health
    http-check expect status 200

    default-server check port 7777 inter 3s fall 3 rise 2 maxconn 50000 slowstart 60s resolvers docker init-addr last,libc,none
    server pool1 pool1:3333
    server pool2 pool2:3333

frontend stats
    bind *:8404
    mode http
    stats enable
    stats uri /
    stats refresh 5s
